body{
    background-color: antiquewhite;
    font-family: Arial;
    text-align: center;
}
cajapadre{
display: grid;
grid-template-columns: auto auto auto;
background-color:aquamarine;
padding: 10px;
}
