html {
	background-image: url('c:\Users\usuario\Desktop\Lenguaje de Marcas\LM2324-1\tema 2\images\bg.jpg');
    background-size: cover;
	background-repeat: no-repeat center center fixed;
    display: flex;
    flex-wrap: wrap;
    }
flex-container {
    

    }
    

    cursor:text;